{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/formset.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<div class="container">
    <div class="row header">
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <br>
            {% include 'menu.html' %}
        </div>
        <div class="col-md-8">
        {% block content %}{% endblock %}
        </div>
    </div>
    <div class="row footer">
    </div>
</div>
</body>
</html>