
<a href="/" class="btn btn-block btn-primary{% if request.path == '/' %} disabled{% endif %}">Статистика</a>
<a href="/admin/" class="btn btn-block btn-primary{% if request.path == '/admin/' %} disabled{% endif %}">Административная панель</a>
<a href="/optimal-portfolio/" class="btn btn-block btn-primary{% if request.path == '/optimal-portfolio/' %} disabled{% endif %}">Подобрать оптимальный портфель</a>
<a href="/effective-boundary/" class="btn btn-block btn-primary{% if request.path == '/effective-boundary/' %} disabled{% endif %}">Сформировать эффективную границу</a>