{% extends 'base.html' %}
{% block content %}
<h1>Таблица статистики акций</h1>
<table border="1">
    {% for share in share_list %}
   <tr>
    <th>{{ share.name }}</th>
       <th></th>
       <th></th>
   </tr>
    <tr>

        <td>Цена</td>
        <td>Изменение, %</td>
        <td>Дата</td>

  </tr>
    {% for share_cost in share.costs.all %}
   <tr>
        <td>{{ share_cost.cost }}</td>
        <td>{{ share_cost.change }}</td>
        <td>{{ share_cost.time }}</td>

  </tr>
    {% endfor %}
    {% endfor %}
 </table>
{% if graph %}
<img src="{{ graph }}">
{% endif %}
<p>Портфель</p>
<form method="post">
    {% csrf_token %}
    {{ portfolio_formset.management_form }}
    {% for portfolio_form in portfolio_formset %}
    <div class="item">
    {{ portfolio_form }}
        <input type="button" class="delete" value="Удалить">
    </div>
    {% endfor %}
    <!--<input type="button" id="add" value="Добавить акцию в портфель">-->

    <p>Введите ожидаемый уровень доходности в %</p>
    <input type="number" name="income" step="0.01" required>
    <br><br>
    <input type="submit">
</form>
{% if step_2.any %}
<h2>Применение модели Марковца</h2>
<!--Step 2-->
<p>Найти ожидаемый доход и стандартное отклонение для каждой акции:</p>

<table border="1">
    <tr>
    <th>Ожидаемый доход</th>
    <th>Стандартное отклонение</th>
    <th>Веса</th>
  </tr>
{% for row in step_2 %}
    <tr>
    {% for elem in row %}
        <th>
       {{ elem }}
        </th>
    {% endfor %}
    </tr>
{% endfor %}
</table>
<!--end step 2-->

<!--step_5-->
<p>Ковариационная матрица:</p>
<table border="1">
{% for row in step_5 %}
    <tr>
    {% for elem in row %}
        <th>
       {{ elem }}
        </th>
    {% endfor %}
    </tr>
{% endfor %}
</table>
<!--end step_5-->

<!--step_6-->
<p>Определяем риск (стандартное отклонение) портфеля</p>
<table border="1">
{% for row in step_6 %}
    <tr>
    {% for elem in row %}
        <th>
       {{ elem }}
        </th>
    {% endfor %}
    </tr>
{% endfor %}
</table>
<!--end step_6-->

<p>Определяем эффективную границу портфеля методом Хуанга Линцбергера</p>
.....
{% endif %}

{% endblock %}
